# ------------------------------------
# Python Specific Files
# ------------------------------------

# Byte-code files
*.pyc
__pycache__/
*~$
*.bak
*.swp
*.swo

# Distribution / Packaging
.Python
env/
venv/
VENV/
venv_*
pip-log.txt
pip-delete-this-file.txt
htmlcov/
.tox/
.coverage
.cache
.pytest_cache

# C extensions
*.so

# ------------------------------------
# Project/Config Specific Files
# ------------------------------------

# Environment variables and secrets
.env
*.env
.secret
*.key

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.log

# Operating System Files
.DS_Store
Thumbs.db